.earth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: relative;
    z-index: 3;
}

.earth-image {
    width: 30vw;
    cursor: pointer;
    transition: transform 1s ease;
    transform-origin: center;
}

.zoom-in {
    transform: scale(2);
}

.display-block {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2;
}


